body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi-gras */
    font-size: 30px; /* Taille du texte à 30px */
    line-height: 1.2em; /* Hauteur de ligne à 1.2em */
    background: linear-gradient(90deg, #102689, #fe6f3b); /* Dégradé linéaire du bleu vers l'orange */
    -webkit-background-clip: text; /* Appliquer le dégradé à la couleur du texte */
    background-clip: text;
    color: transparent; /* Rendre le texte transparent pour que le dégradé apparaisse */
    text-align: center; /* Centrer le texte horizontalement */
    margin: 0; /* Enlever la marge par défaut du h1 */
    letter-spacing: 0; /* Espacement entre les lettres à 0px */
    white-space: normal; /* Permettre au texte de passer à la ligne */
    display: block; /* Pour que le titre occupe toute la largeur disponible */
    background-size: 100% 100%; /* Assurer que le dégradé s'étend sur toute la largeur de l'élément */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    padding-right: 50px; /* Espace plus grand pour éloigner l'icône du menu déroulant */
    border: 1px solid #ddd;
    border-radius: 30px; /* Appliquer un radius de 30px aux champs de formulaire */
    box-sizing: border-box; /* Assure que le padding ne modifie pas la largeur totale */
}

select {
    -webkit-appearance: none; /* Pour supprimer l'icône native sur certains navigateurs */
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 16 16"%3E%3Cpath d="M4 5l4 4 4-4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E'); /* Ajouter une icône personnalisée */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Positionner l'icône plus loin de la bordure */
    background-size: 12px; /* Ajuster la taille de l'icône */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #102689;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi-bold */
}

button:hover {
    background-color: #fe6f3b;
}

.calculation-basis {
    font-size: 0.8em;
    color: #666;
    margin-top: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

#resultsContainer {
    margin-top: 20px;
    text-align: center;
}